
h1{color:white;background-color:cornflowerblue;
	text-align: center;font-size:50pt; }
.navbar{
	text-align: center;
}
h2{color:grey;background-color:cornflowerblue;
	text-align: center;font-size: 15pt;}
.navbar{
	text-align: center;
}
h3{background-color:grey;
text-align: center;}
body{color:black;background-color:lightgrey;font-family: Times New Roman, serif;}
.blue{background-color:cornflowerblue;}
nav{background-color: grey;
	color:white;
	text-align: center;
	width:12em;
}

nav ul{
	display: none;list-style: none;margin:0;padding:0;color: darkgray;
}
nav:hover ul{
	display: block;
}
nav:hover{
	background-color:powderblue; color: blue;
}
nav ul li:hover{background-color:navy;}
a{text-decoration:none;  color: darkgray;}
@media all{ body{background-color:lightslategrey;}
	@media print{body{background-color: lightblue;}}
